<!-- personal-details-table.component.html -->
<mat-table [dataSource]="personalDetails">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let personalDetail">{{ personalDetail.id }}</mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let personalDetail">{{ personalDetail.name }}</mat-cell>
    </ng-container>
  
    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
      <mat-cell *matCellDef="let personalDetail">{{ personalDetail.age }}</mat-cell>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let personalDetail">{{ personalDetail.email }}</mat-cell>
    </ng-container>
  
    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let personalDetail">{{ personalDetail.address }}</mat-cell>
    </ng-container>
  
    <!-- Add more columns as needed -->
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  
  <mat-paginator [length]="personalDetails.length" [pageSize]="pageSize"></mat-paginator>
  